<div class="pt-7">
<h2 class="text-center">Top Seller Doors</h2>
<div class="grid w-12 p-5">
    <div *ngFor="let product of doors" class="col-12 sm:col-6 lg:col-3 relative" routerLink="../raw-material/{{product.id}}/feature">
        <div class="label absolute">
            <span>In Stock</span>
        </div>
        <div class="">
            <img src="{{product.image}}" height="300px" width="100%">
        </div>
        <div>
            <h5 class="mb-0">{{product.name}}</h5>
        </div>

    </div>

</div>

<div class="grid w-12 p-5">
<div *ngFor="let product of rawMaterial" class="col-12 sm:col-6 lg:col-3 relative" routerLink="../raw-material/{{product.id}}/feature">
    <div class="label absolute">
        <span>In Stock</span>
    </div>
    <div class="">
        <img src="{{product.image}}" class="w-full h-auto">
    </div>
    <div>
        <h5 class="mb-0">{{product.name}}</h5>
        <small class="mt-0">Color: {{product.color}}</small>

    </div>
    <div>

    </div>
</div>
</div>
<h2 class="text-center">Top Rated Handle</h2>
<div class="grid w-12 p-5">
    <div *ngFor="let product of handel" class="col-12 sm:col-6 lg:col-3 relative" routerLink="../raw-material/{{product.id}}/feature">
        <div class="label absolute">
            <span>In Stock</span>
        </div>
        <div class="">
            <img src="{{product.image}}" class="w-full h-auto">
        </div>
        <div>
            <h5 class="mb-0">{{product.name}}</h5>
            <small class="mt-0">Color: {{product.color}}</small>
    
        </div>
        <div>
    
        </div>
    </div>
    </div>
</div>