<div class="pt-7" *ngFor="let product of products">
    <h2 class="text-center">{{product.label}}</h2>
    <div class="grid w-12 p-5">
        <div *ngFor="let product of product.detail" class="col-12 sm:col-6 lg:col-3 relative"
            routerLink="../raw-material/{{product.id}}/feature">
            <div class="label absolute">
                <span>In Stock</span>
            </div>
            <div class="">
                <img src="{{product.image}}" class="w-full h-auto border-round">
            </div>
            <div>
                <h5 class="mb-0">{{product.name}}</h5>
                <small class="mt-0">Color: {{product.color}}</small>

            </div>
            <div>

            </div>
        </div>
    </div>

</div>