<div class="surface-900 text-white md:flex justify-content-evenly p-2" id="footer">
    <div class="text-center md:text-left col-12 md:col-5">
        <h1>Reach Us</h1>
        <div class="">
            <h4 class="m-0">Yusuf Zariwala (Proprietor)</h4>
            <p>
                Royal Glass And Aluminium
                Shop No. 50/51, Belvedre Road
                Mazgaon, Mumbai - 400010, Maharashtra, India
            </p>
        </div>
    </div>
    <div class="text-center col-12 md:col-4 p-0 pb-3">
        <h1 class="mt-0">Contact Us</h1>
        <h2 class="mb-0">08047645909</h2>
    </div>
</div>