.label {
    margin-left: 30px;
    padding:3px;
    margin-top: 0;
    margin-bottom: 7px;
    text-align: center;
}

:host::ng-deep {
    .p-carousel{
        position: relative;
    }
    .p-ripple{
        position: absolute;
    }
    .p-icon {
        width: 23px;
        height: 2rem;
    }
    .p-carousel-prev{
        left: 0;
        z-index: 100;
        color: black;
        font-size: 100px;
    }
    .p-carousel-next{
        right: 0;
        z-index: 100;
        color: black;
    }
    .p-carousel-next:enabled{
        background-color: #e5ebf1;
    }
    .p-carousel-prev:enabled{
        background-color: #e5ebf1;
    }
    .p-carousel-indicators {
        button{
            height: 5px;
            width: 5px;
            border-radius: 100%;
        }
        .p-highlight>button {
            background-color: #22c55e !important;
        }
    }
}

h2{
    color: lightslategray;
    font-family: math;
    text-decoration: underline;
}

@media screen and (max-width:500px) {
    h2{
        font-size: 17px;
    }
    p{
        font-size: 12px;
        font-weight: 500;
    }
}

td,th{
    border-bottom: 1px solid #e5ebf1;
    padding: 12px;
}
th{
    border-right: 1px solid #e5ebf1;
}

.crousel-img{
    height:400px;
    width:100%;
}

.small-image{
    height: 250px;
}