.label {
    margin-left: 30px;
}

:host::ng-deep {
    .p-carousel-indicators {
        button{
            height: 5px;
            width: 8px;
            border-radius: 100%;
        }
        .p-highlight>button {
            background-color: #22c55e !important;
        }
    }
}

@media screen and (max-width:500px) {
    h2{
        font-size: 17px;
    }
    p{
        font-size: 12px;
        font-weight: 500;
    }
}

td,th{
    border-bottom: 1px solid #e5ebf1;
    padding: 12px;
}
th{
    border-right: 1px solid #e5ebf1;
}