<div>
<div class="border-1 surface-border pt-6 w-12 h-3">
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [indicatorStyleClass]="'color'" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center w-12">
            <div class="">
                <img src="{{ product.image }}" [alt]="product.name" class="w-12 shadow-2" />
            </div>
        </div>
    </ng-template>
</p-carousel>
</div>

<div>

    <h2 class="label">LATEST DESIGN</h2>
    <div>
        <p-carousel [value]="latestdesign" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptionssmall">
            <ng-template let-product pTemplate="item">
                <div class="m-2 text-center w-12">
                    <div class="mb-3">
                        <img src="{{ product.image }}" [alt]="product.name" class="w-12 shadow-2" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        
    </div>
</div>

<div>

    <h2 class="label">OFFICE</h2>
    <div>
        <p-carousel [value]="latestdesign" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptionssmall">
            <ng-template let-product pTemplate="item">
                <div class="m-2 text-center w-12">
                    <div class="mb-3">
                        <img src="{{ product.image }}" [alt]="product.name" class="w-12 shadow-2" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        
    </div>
</div>

<div>

    <h2 class="label">HOUSE</h2>
    <div>
        <p-carousel [value]="latestdesign" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptionssmall">
            <ng-template let-product pTemplate="item">
                <div class="m-2 text-center w-12">
                    <div class="mb-3">
                        <img src="{{ product.image }}" [alt]="product.name" class="w-12 shadow-2" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        
    </div>
</div>

<div>

    <h2  class="label">RESTAURENT</h2>
    <div>
        <p-carousel [value]="latestdesign" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptionssmall">
            <ng-template let-product pTemplate="item">
                <div class="m-2 text-center w-12">
                    <div class="mb-3">
                        <img src="{{ product.image }}" [alt]="product.name" class="w-12 shadow-2" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        
    </div>
</div>

<div>

    <h2 class="label">LAB AND CLINIC</h2>
    <div class="flex align-items-center">
        <p-carousel [value]="clinic" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptionssmall" class="flex align-items-center">
            <ng-template let-product pTemplate="item">
                <div class="m-2 text-center w-12">
                    <div class="mb-3 flex align-items-center">
                        <img src="{{ product.image }}" [alt]="product.name" class="w-12 shadow-2" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        
    </div>
</div>
</div>

<!-- <p-dialog header="Detail" [(visible)]="visible" [maximizable]="true" [style]="{width: '90vw'} ">
    <div><h2>Product</h2></div>
    <div class="md:flex justify-content-evenly surface-ground">
    <div class="col-12 md:col-6 p-0">
        <div class=" h-2rem">
            <h3>{{product1.name}}</h3>
        </div>
        <div>
    <img src="{{product1.image}}" width="100%">
    </div>
    </div>
 <div class="border-1 surface-border bg-white col-12 md:col-6">
       <h2>Product Details</h2>
        <table class="w-12">
            <tr>
              <th class="text-left w-3">Name</th>
              <td class="">{{product1.name}}</td>
            </tr>
            <tr>
              <th class="text-left line-height-3">Color</th>
              <td class="">{{product1.color}}</td>
            </tr>
            <tr>
              <th class="text-left">Handel color</th>
              <td class="">{{product1.handel_color}}</td>
            </tr>
            <tr>
              <th class="text-left">Material</th>
              <td class="">{{product1.material}}</td>
            </tr>
            <tr>
                <th class="text-left">Size</th>
                <td class="">{{product1.size}}</td>
            </tr>
            <tr>
                <th class="text-left">Dimentions</th>
                <td class="">{{product1.dimension}}</td>
            </tr>
            <tr>
                <th class="text-left">Shape</th>
                <td class="">{{product1.shape}}</td>
            </tr>
          </table>
          <p>We can supply aluminium slim profile for glass doors in quanity. 
            These are readily available in stock and are supplied at reasonable rate</p>
 </div>
 </div>
</p-dialog> -->