.nav-position{
    background-color: #22c55e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.text-color{
   color:white !important;
}

a{
    font-size: 13px;
}

@media screen and (max-width:500px) {
h2{
    font-size: 18px;
}
a{
    font-size: 12px;
    font-weight: 500;
 }
}

.label:hover{
    background: #465a7c; 
}

.nav-label{
 background-color: aliceblue !important;
 border-radius: 5px;
 a{
    color: black !important;
  }
}
