<div class="flex justify-content-between nav-position surface-900 px-4 shadow-8 border-round">
    <div class="md:col-6 py-2">
        <h2 routerLink="../home" class="m-0 text-white"><img src="../../../assets/images/LOGO.png" width="20px">lasses</h2>
    </div>
    <div class="flex justify-content-end align-items-center md:col-6">
        <div class="p-2 sm:px-4 sm:py-2 label cursor-pointer mr-1" routerLink="./home" [routerLinkActive]="'nav-label'"><a class="m-0 no-underline text-white">Home</a></div>
        <div class="p-2 sm:px-4 sm:py-2 label cursor-pointer mr-1" routerLink="./raw-material" [routerLinkActive]="'nav-label'"><a class="m-0 no-underline text-white">Raw Material</a></div>
        <div class="p-2 sm:px-4 sm:py-2 label" [routerLinkActive]="'border-bottom-2 border-white'"><a href="#footer" class="m-0 no-underline text-white cursor-pointer">Contact Us</a></div>
    </div>
</div>

