.nav-position{
    background-color: #22c55e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.text-color{
   color:white !important;
}

@media screen and (max-width:500px) {
h2{
    font-size: 18px;
}
p{
    font-size: 12px;
    font-weight: 500;
}
}
