th,td{
    padding: 10px;
}

th{
    width:50%
}

.margin-t{
    margin-top: -3rem;
    margin-right: 1rem;
}

.position{
    position: relative;
 }
 
.position1 {
    position: absolute;
}

.bg {
    border-bottom: 18px solid #030303;
    border-left: 16px solid transparent;
    top: 0;
    right: 95px;
    margin-top: -38px;
}

:host::ng-deep{
    .p-breadcrumb{
      border: none;
      background: none;
    }
}
